<ion-searchbar></ion-searchbar>
<ion-content>
  <div class="stopwatch pt-3">
    <h1 text-center class="color-white font-lg">
      {{ time }}
    </h1>
    <ion-grid>
      <ion-row text-center class="mt-5">
        <ion-col class="col-12" *ngIf="!running && time == blankTime">
          <button
            class="circle-button circle-button-bg font-md"
            ion-button
            (click)="start()"
          >
            {{ "start" | translate }}
          </button>
        </ion-col>
        <ion-col class="col-12" *ngIf="running">
          <button
            class="circle-button circle-button-bg circle-button-red font-md"
            ion-button
            (click)="stop()"
          >
            {{ "stop" | translate }}
          </button>
          <button
            class="circle-button circle-button-bg circle-button-red font-md"
            ion-button
            (click)="lap()"
          >
            {{ "lap" | translate }}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item-sliding *ngFor="let lap of laps">
      <ion-item>
        {{ lap }}
      </ion-item>
    </ion-item-sliding>
  </div>
</ion-content>
