<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col size="4">
                    <ion-tab-button (click)="navigateToHome()" [class.button-active]="routerLocal==='home'">
                        <ion-icon name="home" id="homeButton"></ion-icon>
                        <ion-label>Home</ion-label>
                    </ion-tab-button>
                </ion-col>
                <ion-col size="4">
                    <ion-tab-button (click)="navigateToPastRace()" [class.button-active]="routerLocal==='pastrace'">
                        <ion-icon name="podium" id="pastraceButton"></ion-icon>
                        <ion-label>Races</ion-label>
                    </ion-tab-button>
                </ion-col>
                <ion-col size="4">
                    <ion-tab-button (click)="navigateToAbout()" [class.button-active]="routerLocal==='about'">
                        <ion-icon name="information-circle-outline" id="aboutButton"></ion-icon>
                        <ion-label>About</ion-label>
                    </ion-tab-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>