<ion-content class="ion-padding-horizontal">
    <h2>Races Created</h2>

    <ion-list>
        <ion-item *ngIf="races.length === 0">
            <ion-label>
                <p class="text-center">You have to create at least a race</p>
            </ion-label>
        </ion-item>
        <ion-item-sliding *ngFor="let race of races">

            <ion-item>
                <ion-label>
                    <h4>Race: {{ race.name }}</h4>
                    <p>Starts at: {{race.date | date:'short' }}</p>
                    <p>Created on: {{race.id | date:'short' }}</p>
                </ion-label>
            </ion-item>

            <ion-item-options side="start">
                <ion-item-option color="warning" (click)="getInfo(race);">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="deleteRace(race)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>

</ion-content>