<ion-header translucent>
    <ion-toolbar>
        <ion-title routerLink="/home">XLENT Timing</ion-title>

        <ion-buttons slot="primary">
            <ion-menu-button color="primary" slot="end" menu="first"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>