<!--Menu-->
<ion-menu side="end" menuId="first" contentId="main">
    <ion-content>
        <ion-menu-toggle>
            <ion-list>
                <ion-item routerLink="/home">
                    <ion-icon name="home"></ion-icon>Home
                </ion-item>
                <ion-item routerLink="/pastrace">
                    <ion-icon name="podium"></ion-icon>Races
                </ion-item>
                <ion-item routerLink="/about">
                    <ion-icon name="information-circle-outline"></ion-icon>About
                </ion-item>
                <ion-item>
                    <ion-icon name="flag"></ion-icon>Finish Race
                </ion-item>
            </ion-list>
        </ion-menu-toggle>
    </ion-content>
</ion-menu>