<ion-content class="ion-padding-horizontal">
    <ion-grid>
        <ion-card>
            <ion-row>
                <ion-col size-md="6" offset-md="3">
                    <ion-card-header class="title">NEW RACE</ion-card-header>
                    <ion-card-content>
                        <ion-item>
                            <ion-label position="floating">Race Name</ion-label>
                            <ion-input type="text" [(ngModel)]="race.name"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label>Start Date and Time:</ion-label>
                            <ion-datetime [min]="minDate" [max]="maxDate" [(ngModel)]="race.date" type="text" displayFormat="MMM DD, HH:mm">
                            </ion-datetime>
                            <ion-icon name="time"></ion-icon>
                        </ion-item>

                        <ion-item>
                            <ion-label>Starting Mode</ion-label>
                            <ion-select (ionChange)="updateInterval()" [(ngModel)]="race.raceType">
                                <ion-select-option value="individual" selected>Individual</ion-select-option>
                                <ion-select-option value="mass">Mass</ion-select-option>
                                <ion-select-option value="hunting" disabled>Hunting</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item [disabled]="race.raceType !== 'individual'">
                            <ion-label position="floating">Interval Time (seconds)</ion-label>
                            <ion-input type="number" [(ngModel)]="race.interval"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Number of participants</ion-label>
                            <ion-input type="number" min="0" [(ngModel)]="race.numberOfRunners"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Finished Race</ion-label>
                            <ion-toggle color="success" [(ngModel)]="race.finishflag"></ion-toggle>
                        </ion-item>
                    </ion-card-content>
                </ion-col>
            </ion-row>
            <br />
            <ion-row>
                <ion-col size="1"></ion-col>
                <ion-col size="5">
                    <ion-button expand="block" color="danger" (click)="alert()">Cancel</ion-button>
                </ion-col>
                <ion-col size="5">
                    <ion-button expand="block" color="success" (click)="addRace()">Next</ion-button>
                </ion-col>
                <ion-col size="1"></ion-col>
            </ion-row>
        </ion-card>
    </ion-grid>
</ion-content>