<ion-content>
  <ion-reorder-group
    reorder="true"
    (ionItemReorder)="reorderItems($event)"
    disabled="false"
  >
    <ion-item *ngFor="let item of listItems; let i = index">
      <ion-label>{{ i + 1 }}</ion-label>
      <ion-input
        [(ngModel)]="item.string"
        type="string"
        autocapitalize
        placeholder="name {{ i }}"
      >
      </ion-input>
      <ion-input
        type="string"
        [(ngModel)]="item.number"
        inputmode="numeric"
        placeholder="{{ i }}"
      >
      </ion-input>
      <ion-reorder></ion-reorder>
    </ion-item>
  </ion-reorder-group>

  <ion-list text-center>
    <ion-button (click)="getList()">
      Get Updated List
    </ion-button>
    <!-- <ion-button (click)="fillEmptyListItems()">
        Get Runner List
      </ion-button> -->
    <ion-button class="button" color="success" (click)="fillEmptyListItems()">
      Done
    </ion-button>
  </ion-list>

  <!--  <ion-item [color]="even? 'primary' : 'secondary'" *ngFor="let item of listItems; let i = index; let even = even"></ion-item>
-->
</ion-content>
