<ion-app>

    <app-toolbar></app-toolbar>

    <ion-content>

        <app-menu></app-menu>

        <ion-router-outlet id="main"></ion-router-outlet>

    </ion-content>

    <app-footer *ngIf="router.url == '/home' || router.url == '/pastrace' || router.url == '/about'"></app-footer>

</ion-app>