<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Race Name: {{ viewRaceInfo.name }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label
        >Date and Time: {{ viewRaceInfo.date | date: "short" }}</ion-label
      >
    </ion-item>

    <ion-item>
      <ion-label>Type: {{ type }}</ion-label>
      <ion-label>Interval: {{ intervalTime }} Seconds</ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-content scrollY="true">
      <ion-item-group>
        <ion-item *ngFor="let item of tempListItems; let i = index">
          <ion-label>{{ item.string }}</ion-label>
          <ion-label>{{ item.number }}</ion-label>
          <ion-label>{{ item.interval }}</ion-label>
          <ion-icon name="time"></ion-icon>
        </ion-item>
      </ion-item-group>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="4">
        <ion-button color="success" expand="block" routerLink="/home">
          <ion-label>Home</ion-label>
          <ion-icon name="home" style="padding-left: 5px;"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="4">
        <ion-button color="warning" expand="block">
          <ion-label>Edit</ion-label>
          <ion-icon name="create" style="padding-left: 5px;"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
