<ion-content class="ion-padding-horizontal">

    <h1>Welcome to XLENT Timing!</h1>
    <h5>Create a new race or check created ones!</h5>

    <ion-grid>
        <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="6" style="text-align: center;">
                <ion-button size="large" color="success" expand="block" fill="solid" routerLink="/racesetup">New Race
                    <ion-icon name="add-circle"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="3"></ion-col>
        </ion-row>
    </ion-grid>

    <br>
    <br>
    <br>

    <h3>Races Created</h3>
    <ion-list>
        <ion-item *ngIf="races.length === 0">
            <ion-label>
                <p class="text-center">You have to create at least one race</p>
            </ion-label>
        </ion-item>
        <ion-item-sliding *ngFor="let race of races">

            <ion-item>
                <ion-label>
                    <h4>Race: {{ race.name }}</h4>
                    <p>Starts at: {{race.date | date:'short' }}</p>
                    <p>Created on: {{race.id | date:'short' }}</p>
                </ion-label>
            </ion-item>

            <ion-item-options side="start">
                <ion-item-option color="warning" (click)="getInfo(race);">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="deleteRace(race)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>



</ion-content>